<div class="container p-3">
  <div class="row">
    {{#each contacts}}
      <div class="col-md-4 mb-3">
        <div class="card text-center">
          <div class="card-body">
            <svg xmlns="http://www.w3.org/2000/svg" width="110" height="110" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <h3 class="card-title text-capitalize">
              {{name}}
            </h3>
            <p class="m-2">{{number}}</p>
            <p class="m-2">{{career}}</p>
            <p>Añadid@: {{timeago created_at}}</p>
            <a href="/contacts/edit/{{id}}" class="btn btn-info mb-2" style="margin-right: 10px">Editar</a>
            <a href="/contacts/delete/{{id}}" class="btn btn-danger mb-2"style=" margin-left: 10 px">Borrar</a>
          </div>
        </div>
      </div>
    {{else}}
       <div class="col-md-4 mx-auto">
          <div class="card card-body text-center" style="margin-top: 20%">
            <p>No hay contactos guardados</p>
            <a href="/contacts/new" class="btn btn-primary mb-1 m-3">Añadir</a>
          </div>
        </div>
    {{/each}}
  </div>
</div>
